<row>
	<!-- MAIN IMAGE SECTION -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<h1>Gift of pizza</h1>
					<h2>Share pizza with anyone</h2>
					<div class="spacer"></div>
					<i class="fa fa-angle-down"></i>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8 col-lg-offset-2" align="center">
	        <h1>How it works</h1>
	        <p>Enter the name of the person you would like to send a pizza to</p>
          <div class="fa fa-arrow-down"></div>
          <p>Select the type of pizza you would like to send</p>
          <div class="fa fa-arrow-down"></div>
          <p>We'll take care of the ordering and pizza resturaunt selection process</p>
          <div class="fa fa-arrow-down"></div>
          <p>Have the gift of pizza on someones doorstep!</p>
      	</div>
      	<div class="col-lg-4 col-lg-offset-4" align="center">
      		<button type="button" class="btn btn-green">Get started now</button>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->
    

	<!-- SERVICES SECTION -->
	<div id="services">
		<div class="container">
			<div class="row mt">
				<div class="col-lg-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-lg-3">
					<h3>Quality Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				<div class="col-lg-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-lg-3">
					<h3>Awesome Support</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			
				<div class="col-lg-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-lg-3">
					<h3>Global Services</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- services section -->
	
	
	
	
	<!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
	
	
	<!-- CALL TO ACTION -->
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>Need a pizza?</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Click the button below to begin the process of asking for a pizza donation.</p>
					<p><button type="button" class="btn btn-green btn-lg">Request a slice</button></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Call to action -->
	
