<row>
	<!-- MAIN IMAGE SECTION -->
<div id="headerwrap" id="home" name="home">
			<header class="clearfix">
					<h1>Gift of pizza</h1>
					<p>Share pizza with anyone</p>
          <a href="#learn" class="btn btn-default btn-lg">Find Out More</a>
	  		</header>	    
	    </div><!-- /headerwrap -->
  
  		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="fa fa-bolt"></span>
					<h2>Fast</h2>
					<p>We take care of all the ordering hassle, so all you have to do is decide what kind of pizza you would like to share. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="fa fa-thumb-tack"></span>
					<h2>Safe</h2>
					<p>No need to enter in an address, just ask for their giftofpizza username or email address and we'll make sure it gets there. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="fa fa-heart"></span>
					<h2>Love</h2>
					<p>We love watching people give back, and we know once you try it you'll be hooked too.   </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->

	<!-- How it works section -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8 col-lg-offset-2" id="learn" align="center">
	        <h1>How it works</h1>
	        <p>Enter the name of the person you would like to send a pizza to</p>
          <div class="fa fa-arrow-down"></div>
          <p>Select the type of pizza you would like to send</p>
          <div class="fa fa-arrow-down"></div>
          <p>We'll take care of the ordering and pizza resturaunt selection process</p>
          <div class="fa fa-arrow-down"></div>
          <p>Have the gift of pizza on someones doorstep!</p>
      	</div>
      	<div class="col-lg-4 col-lg-offset-4" align="center">
      		<button type="button" class="btn btn-green">Get started now</button>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->
    

	<!-- SERVICES SECTION -->
	<div id="services">
		<div class="container">
			<div class="row mt">
				<div class="col-lg-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-lg-3">
					<h3>Quality Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				<div class="col-lg-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-lg-3">
					<h3>Awesome Support</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			
				<div class="col-lg-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-lg-3">
					<h3>Global Services</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- services section -->
	
	
	
	
	<!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
				<div class="col-lg-2">
          <%= image_tag 'pizza.jpg', style: 'width: 100px; height: 100px;' %>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
	
	
	<!-- CALL TO ACTION -->
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>Need a pizza?</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Click the button below to begin the process of asking for a pizza donation.</p>
					<p><button type="button" class="btn btn-green btn-lg">Request a slice</button></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Call to action -->
	
  
<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
  </script>
