<% if !signed_in? %>
  <%= render partial: "navigation/modals" %>
<% end %>
<nav class="navbar navbar-default" role="navigation" style="width: 100%;margin-bottom: 0px;">
    <div class="navbar-list">
      <ul class="nav nav-pills">
        <li><%= link_to nil, class: 'navbar-link' do %>
          <span style="color: #A22121">S</span>end a pizz<span style="color: #A22121">a</span>
        <% end %></li>
        <li><%= link_to nil, class: 'navbar-link' do %>
          <span style="color: #A22121">R</span>equest a pi<span style="color: #A22121">e</span>
        <% end %></li>
        <li><%= link_to nil, class: 'navbar-link' do %>
          <span style="color: #A22121">B</span>rowse request<span style="color: #A22121">s</span>
        <% end %></li>
        <% if signed_in? %>
          <li><%= link_to destroy_user_session_path, :method => :delete, class: 'navbar-link' do %>
            <span style="color: #A22121">S</span>ign ou<span style="color: #A22121">t</span>
        <% end %></li>
        <% else %>
        <li><a data-toggle="modal" data-target="#signin" class="navbar-link"><span style="color: #A22121">S</span>ign i<span style="color: #A22121">n</span></a></li>
        <% end %>
      </ul>
    </div>
</nav>